body{
    font-family: "Times New Roman";
    width: auto;
    height: 100%;
    padding: 0 2%;
    background: #DCDCDC url(../images/back_image4.jpg) repeat right top;
    background-size: cover; 
    background-attachment: fixed;
}


      #main{
          padding: 2%;
          width: auto;
          height: 100%;
          justify-content: center;
          justify-content: space-around;
      }
      #info1{
          width: 800px;
          height: 100%;
          margin: 1% auto 3% auto;
      }
      #ch1,#ch2,#ch3,#ch1_2,#ch2_2,#ch3_2{
          margin: 0% 1% 1% 2%;
          border-radius: 10px;
          background: #F5F5F5;
          padding: 2% 5%;
          box-shadow: 5px 5px 10px #333;
          font-size: 15px;
          font-family: sans-serif;
          width: auto;
      }
      #ch1 dt,#ch2 dt,#ch3 dt,#ch1_2 dt,#ch2_2 dt,#ch3_2 dt{
          font-weight: bold;
      }
      form{
          border-radius: 10px;
          background: #F5F5F5;
          padding: 2% 5%;
          box-shadow: 5px 5px 10px #333;
          width: 100%;
          font-weight: bold;
          font-family: verdana;
      }
      input,select{
          padding:7px 20px 3px 20px;
          margin: 2px;
          color: #666;
          border: none;
          background: #fff;
          -webkit-box-shadow: 2px 3px 5px -2px #CCC inset;
          -moz-box-shadow: 2px 3px 5px -2px #CCC inset;
          box-shadow: 2px 3px 5px -2px #CCC inset;
          border-radius: 9px;
          -webkit-border-radius: 9px;
          -moz-border-radius: 9px;
      }
      #kouka{
          margin: 0px;
          padding: 10px 15px;
          width: 95%;
          height: 70px;
          resize: none;
          border: none;
          color: #666;
          background: #fff;
          -webkit-box-shadow: 2px 3px 5px -2px #CCC inset;
          -moz-box-shadow: 2px 3px 5px -2px #CCC inset;
          box-shadow: 2px 3px 5px -2px #CCC inset;
          border-radius: 9px;
          -webkit-border-radius: 9px;
          -moz-border-radius: 9px;
          font-size: 18px;
      }
      #seisan {
          text-align: center;
          margin: 10px 0 0px;
          padding: 0;
          line-height: 24px;
          height: 26px;
          overflow: hidden;
          font-size: 20px;
          font-weight: bold;
          font-family: verdana;
      }
      #seisan li {
          border: 1px solid #AAA;
          background: #D1D1D1;
          background: -o-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
          background: -ms-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
          background: -moz-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
          background: -webkit-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
          background: linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
          display: inline-block;
          position: relative;
          z-index: 0;
          border-top-left-radius: 6px;
          border-top-right-radius: 6px;
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
          text-shadow: 0 1px #FFF;
          margin: 0 -5px;
          padding: 0 20px;
      }
      #seisan a {
        color: #555;
        text-decoration: none;
      }
      #seisan li.selected {
          background: #f5f5f5;
          color: #333;
          z-index: 2;
          border-bottom-color: #f5f5f5;
          z-index: 1;
      }
      #seisan:before {
          position: absolute;
          content: " ";
          width: 100%;
          bottom: 0;
          left: 0;;
      }
      #seisan li:before,
      #seisan li:after {
          border: 1px solid #AAA;
          position: absolute;
          bottom: -1px;
          width: 5px;
          height: 5px;
          content: " ";
      }
      #seisan li:before {
          left: -6px;
          border-bottom-right-radius: 6px;
          border-width: 0 1px 1px 0;
          box-shadow: 2px 2px 0 #D1D1D1;
      }
      #seisan li:after {
          right: -6px;
          border-bottom-left-radius: 6px;
          border-width: 0 0 1px 1px;
          box-shadow: -2px 2px 0 #D1D1D1;
      }
      #seisan li.selected:before {
          box-shadow: 2px 2px 0 #FFF;
      }
      #seisan li.selected:after {
          box-shadow: -2px 2px 0 #FFF;
      }
      #control {
          display: flex;
          padding: 0 0 2% 0;
      }
      #cont1{
          width: 50%;
      }
      #cont2{
          width: 12%;
          margin: 0 0 0 20px;
      }
      #cont3{
          width: 15%;
      }
      #rank{
          -ms-overflow-style: none;
          scrollbar-width: none;
      }
      #rank::-webkit-scrollbar{
          display: none;
      }
      #data,#sakusei,#rank{
          padding: 10px 15px;
          font-size: 18px;
      }
      #data,#sakusei,#rank:focus{
          outline: none;
      }
      #data{
          width: 400px;
      }
      #sakusei{
          text-align: center;
      }
      #bunryou1,#bunryou2,#bunryou3,#bunryou4,#bunryou5,#bunryou6{
          width: 10%;
          text-align: center;
          font-size: 18px;
      }
      #kei1,#kei2,#kei3,#kei4,#kei5,#kei6{
          width: 20%;
          text-align: center;
          font-size: 18px;
      }
      #sozai1,#sozai2,#sozai3,#sozai4,#sozai5,#sozai6{
          width: 51%;
          font-size: 18px;
      }
      #erabu div{
          width: auto;
          margin: 0 auto;
      }
      
      
footer,address{
    display: block;
}
footer {
    clear: both;
    text-align: center;
    padding: 5px;
    font-size: 80%;
    margin:5px;
    bottom: 0;
    align-items: center;
}