body{
    font-family: arial,メイリオ,"Yu Gothic UI Light",;
    width: auto;
    height: 100%;
    padding: 0 2%;
    background: #DCDCDC url(../images/back_image4.jpg) repeat right top;
    background-size: cover; 
    background-attachment: fixed;
}


      #main{
          padding: 2%;
          width: 100%;
          height: 100%;
          justify-content: space-around;
            display: -webkit-inline-flex;
            display: inline-flex;
      }
      #info1{
          width: 400px;
          height: 100%;
          padding: 2% 2%;
          border-radius: 10px;
          background: #F5F5F5;
          box-shadow: 5px 5px 10px #333;
          font-size: 14px;
          font-family: sans-serif;
      }
      #info2{
          width: 90%;
          height: 100%;
          margin: 0% 2% 0% 1%;
          padding: 2% 2% 2% 5%;
          border-radius: 10px;
          background: #F5F5F5;
          box-shadow: 5px 5px 10px #333;
          font-size: 15px;
          font-family: sans-serif;
      }
      #erabu{
          padding-bottom: 10%;
      }
      #erabu > label{
          font-size: 18px;
      }
      
      p{
          font-size: 20px;
          font-weight: bold;
          color: #444444;
          margin: 10px 0px;
      }
      
      .midashi{
          font-size: 20px;
          font-weight: bold;
          margin: 5% 0% 3% 0%;
          color: #444444;
          
      }
      .nakami_2:hover,
      span:hover,
      strong:hover,
      .has-child-label:hover{
          background-color: #86F9C5;
          cursor: pointer;
      }
      
      
      input[type=number]{
          font-size: 18px;
          margin-bottom: 20px;
          height: 40px;
          padding-left: 20px;
          text-align: right;
      }
      
      
      .nakami{
          font-size: 16px;
          padding-left: 18px;
      }
      .nakami_2{
          padding-top: 5%;
      }
      .nakami > dd{
          font-size: 14px;
          display: none;
      }
      .nakami_2.open{
          background-color: #B1F9D0;
      }
      .nakami_2::before{
          content: "＋";
          font-weight: bold;
          padding-right: 6px;
      }
      .nakami_2.open::before{
          content: "－";
          font-weight: bold;
      }
      
      
      .has-child ul li {
          color: #000;
          background: none;
      }
      
      
      #cook,
      #alc{
          font-size: 24px;
          color: #444444;
      }
      
      .recipe-item > span::before{
          content: "＋";
          font-weight: bold;
          cursor: pointer;
          padding-right: 6px;
      }
      .recipe-item.open > span::before{
          content: "－";
          font-weight: bold;
      }
      .recipe-item.open{
          background-color: #CEF9DC;
      }
      
      span.recipe-label::before{
          width:  calc(100% + 24px);
          margin-left: -24px;
      }
      
      .category-group > strong::before{
          content: "＋";
          font-weight: bold;
          cursor: pointer;
          padding-right: 6px;
      }
      .category-group.open > strong::before{
          content: "－";
          font-weight: bold;
      }
      
      
      
      .openable.recipe-item.has-child-label::before{
          content: "＋";
          font-weight: bold;
          cursor: pointer;
          padding-right: 6px;
      }
      .openable.recipe-item.open .has-child-label::before{
          content: "－";
          font-weight: bold;
      }
      
      
      
      
      
      ul{
          list-style-type: none;
          margin: 2% 0% 3% 0%;
      }
      span{
          font-size: 18px;
          font-weight: bold;
          cursor: pointer;
          display: list-item;
          list-style-type: none;
          color: #444444;
      }
      
      li{
          font-size: 18px;
          list-style-type: none;
          margin: 0.5% 0% 0.5% 0%;
          color: #444444;
      }
      
      .recipe-title {
          font-weight: bold;
      }
       
       
footer,address{
    display: block;
}
footer {
    clear: both;
    text-align: center;
    padding: 5px;
    font-size: 80%;
    margin:5px;
    bottom: 0;
    align-items: center;
}